In [34]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px

In [35]:
df=pd.read_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Cleaned & Uncleaned Datasets\Flight_delay.csv")

In [36]:
df.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [37]:
df.columns

Index(['DayOfWeek', 'Date', 'DepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Org_Airport', 'Dest', 'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 107.2+ MB

In [39]:
df['ArrTime']=df['ArrTime'].astype(str).str.zfill(4)
df['ArrTime']=df['ArrTime'].str[:2]+':'+df['ArrTime'].str[2:]

In [40]:
df['ArrTime']

0         19:59
1         20:37
2         18:45
3         16:40
4         15:26
          ...
484546    19:42
484547    19:54
484548    20:02
484549    19:41
484550    19:33
Name: ArrTime, Length: 484551, dtype: object

In [41]:
df['DepTime']=df['DepTime'].astype(str).str.zfill(4)
df['DepTime']=df['DepTime'].str[:2]+':'+df['DepTime'].str[2:]

In [42]:
df['DepTime']

0         18:29
1         19:37
2         16:44
3         14:52
4         13:23
          ...
484546    16:09
484547    16:16
484548    16:17
484549    16:07
484550    16:08
Name: DepTime, Length: 484551, dtype: object

In [43]:
df['CRSArrTime']=df['CRSArrTime'].astype(str).str.zfill(4)
df['CRSArrTime']=df['CRSArrTime'].str[:2]+':'+df['CRSArrTime'].str[2:]

In [44]:
df['CRSArrTime']

0         19:25
1         19:40
2         17:25
3         16:25
4         15:10
          ...
484546    19:15
484547    19:15
484548    19:15
484549    19:15
484550    19:15
Name: CRSArrTime, Length: 484551, dtype: object

In [45]:
df=df.rename(columns={'ArrTime':'ACT_ArrTime','DepTime':'ACT_DepTime','CRSArrTime':'Scheduled_ArrTime','Origin':'Origin_IATA_Code','Org_Airport':'Dep_Airport','Dest':'Dest_IATA_Code'})

In [46]:
df.head()

,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,18:29,19:59,19:25,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,19:37,20:37,19:40,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,16:44,18:45,17:25,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,14:52,16:40,16:25,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,13:23,15:26,15:10,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [47]:
df.columns

Index(['DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime', 'Scheduled_ArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin_IATA_Code',
       'Dep_Airport', 'Dest_IATA_Code', 'Dest_Airport', 'Distance', 'TaxiIn',
       'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [48]:
df.isnull().sum()

DayOfWeek               0
Date                    0
ACT_DepTime             0
ACT_ArrTime             0
Scheduled_ArrTime       0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin_IATA_Code        0
Dep_Airport          1177
Dest_IATA_Code          0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [49]:
df.duplicated().sum()

np.int64(2)

In [50]:
df[df.duplicated()]

,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
145746,4,28-02-2019,18:54,19:46,19:02,F9,Frontier Airlines Inc.,773,N201FR,112,...,8,13,0,N,0,44,0,0,0,0
145748,4,28-02-2019,20:27,23:14,22:29,F9,Frontier Airlines Inc.,780,N201FR,107,...,10,13,0,N,0,1,0,44,0,0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   ACT_DepTime        484551 non-null  object
 3   ACT_ArrTime        484551 non-null  object
 4   Scheduled_ArrTime  484551 non-null  object
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin_IATA_Code   484551 non-null  object
 15  Dep_Airport        483374 non-null  object
 16  Dest_IATA_Code     484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(17), object(12)
memory usage: 107.2+ MB

In [52]:
df['Date']=pd.to_datetime(df['Date'],format='%d-%m-%Y')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  datetime64[ns]
 2   ACT_DepTime        484551 non-null  object
 3   ACT_ArrTime        484551 non-null  object
 4   Scheduled_ArrTime  484551 non-null  object
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin_IATA_Code   484551 non-null  object
 15  Dep_Airport        483374 non-null  object
 16  Dest_IATA_Code     484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: datetime64[ns](1), int64(17), object(11)
memory usage: 107.2+ MB

In [54]:
df[df['ACT_DepTime']=='24:00'].head()

,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
31474,3,2019-01-02,24:00,02:01,22:31,UA,United Air Lines Inc.,359,N370UA,121,...,5,10,0,N,0,210,0,0,0,0
38044,1,2019-01-21,24:00,02:20,23:36,UA,United Air Lines Inc.,1270,N921UA,80,...,2,36,0,N,0,0,0,9,0,155
39150,4,2019-01-31,24:00,07:41,06:55,UA,United Air Lines Inc.,1554,N473UA,281,...,13,24,0,N,0,8,0,21,0,17
42446,4,2019-01-17,24:00,01:27,23:44,US,US Airways Inc.,1792,N183UW,87,...,3,14,0,N,0,103,0,0,0,0
45016,4,2019-01-31,24:00,05:54,05:02,US,US Airways Inc.,236,N812AW,234,...,7,16,0,N,0,45,0,7,0,0

In [55]:
df[['ACT_DepTime','ACT_ArrTime','Scheduled_ArrTime']]=df[['ACT_DepTime','ACT_ArrTime','Scheduled_ArrTime']].replace('24:00','00:00')

In [56]:
df['ACT_DepTime'].head()

0    18:29
1    19:37
2    16:44
3    14:52
4    13:23
Name: ACT_DepTime, dtype: object

In [57]:
df['ACT_DepTime'] = pd.to_datetime(df['ACT_DepTime'], format='%H:%M').dt.time
df['ACT_ArrTime'] = pd.to_datetime(df['ACT_ArrTime'], format='%H:%M').dt.time
df['Scheduled_ArrTime'] = pd.to_datetime(df['Scheduled_ArrTime'], format='%H:%M').dt.time

In [58]:
df.head()

,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [59]:
df.columns

Index(['DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime', 'Scheduled_ArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin_IATA_Code',
       'Dep_Airport', 'Dest_IATA_Code', 'Dest_Airport', 'Distance', 'TaxiIn',
       'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [60]:
df['FlightID']=range(len(df))

In [61]:
df.head()

,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FlightID
0,4,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,90,...,10,0,N,0,2,0,0,0,32,0
1,4,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,240,...,7,0,N,0,10,0,0,0,47,1
2,4,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,121,...,8,0,N,0,8,0,0,0,72,2
3,4,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,228,...,8,0,N,0,3,0,0,0,12,3
4,4,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,123,...,9,0,N,0,0,0,0,0,16,4

In [62]:
df=df[['FlightID','DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime', 'Scheduled_ArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin_IATA_Code',
       'Dep_Airport', 'Dest_IATA_Code', 'Dest_Airport', 'Distance', 'TaxiIn',
       'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]

In [63]:
df.columns

Index(['FlightID', 'DayOfWeek', 'Date', 'ACT_DepTime', 'ACT_ArrTime',
       'Scheduled_ArrTime', 'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin_IATA_Code', 'Dep_Airport', 'Dest_IATA_Code',
       'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled',
       'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [64]:
df.head()

,FlightID,DayOfWeek,Date,ACT_DepTime,ACT_ArrTime,Scheduled_ArrTime,UniqueCarrier,Airline,FlightNum,TailNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,4,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,...,3,10,0,N,0,2,0,0,0,32
1,1,4,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,...,3,7,0,N,0,10,0,0,0,47
2,2,4,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,...,6,8,0,N,0,8,0,0,0,72
3,3,4,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,...,7,8,0,N,0,3,0,0,0,12
4,4,4,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,...,4,9,0,N,0,0,0,0,0,16

In [65]:
df.to_csv(r"C:\Users\DELL\OneDrive\سطح المكتب\Flight Delay Project\Cleaned & Uncleaned Datasets\Cleaned_Flight_delay.csv",index=False)